body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body, .background, .content, .glass {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  z-index: -2;
}

.content {
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
  padding: 32px;
}

.glass {
  background-color: #FFFFFF;
  opacity: 0.4;
  z-index: -1;
}

body > div {
  /*background-color: #111111;*/
}

#vid-box {
  display: inline-block;
  background-color: #EEEEEE;
  border: solid 1px #777777;
  padding: 32px;
}

#vid-box > img {
  max-width: 100%;
  max-height: 100%;
}

input {
  font-size: 32px;
}

input[type="text"] {
  width: 40%;
}
input[type="submit"] {
  width: 15%;
}
